* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

table {
  background: rgba(0, 0, 0, 0.1);
  width: 100px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

.block {
  display: inline-flex;
}

.input {
  width: 100%;
  max-height: 100px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input-detail {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-detail > label {
  width: 30%;
  font-weight: bold;
  font-size: 20px;
}

.Input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Input:hover {
  background-color: rgba(104, 80, 241, 0.1);
}

.Input:focus {
  background-color: rgba(104, 80, 241, 0.1);
  outline-offset: 0px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.alert {
  width: 100%;
  height: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: rgba(240, 53, 53, 1);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
}

.container-wrapper {
  width: 100%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
}

.container-col {
  width: 30%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-row {
  width: 80%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-play {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.log-container {
  width: 50%;
  min-height: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.4s all ease-in-out;
}

.log-image {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-button {
  border-radius: 10px;
  width: 70px;
  height: 70px;
}

.img-button:hover {
  cursor: pointer;
  transform: scale(0.9);
}

#logImage {
  width: 100%;
  transition: 0.4s all ease-in;
}

.loging-container {
  width: 50%;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.4s all ease-out;
}

#loginBtn {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(54, 189, 36);
  color: white;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#message {
  background: red;
  color: white;
  font-size: medium;
  font-weight: bold;
  border-radius: 10px;
  margin: 5px;
}

#msg {
  background: white;
}

#loginBtn:hover {
  cursor: pointer;
  transform: scale(0.98);
}

#alertUser {
  display: none;
}

#alertPassword {
  display: none;
}

#userPassInvalid {
  display: none;
}

#play {
  display: none;
}

#user,
#password {
  width: 70% !important;
}

#alertUser,
#alertPassword,
#userPassInvalid {
  width: 92% !important;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.mt-6 {
  margin-top: 30px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.mb-6 {
  margin-bottom: 30px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 20px;
}

.ml-5 {
  margin-left: 25px;
}

.ml-6 {
  margin-left: 30px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 20px;
}

.mr-5 {
  margin-right: 25px;
}

.mr-6 {
  margin-right: 30px;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}
